<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sally.fanguubao" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FuLiSheProductActivity" />
        <activity android:name=".activity.MyDecorateActivity" />
        <activity android:name=".activity.MyTouristActivity" />
        <activity android:name=".activity.MyWeddingActivity" />
        <activity android:name=".activity.MyIphoneActivity" />
        <activity android:name=".activity.MyJdActivity" />
        <activity android:name=".activity.MyLuxActivity" />
        <activity android:name=".activity.MyCarActivity" />
        <activity android:name=".activity.MyRentActivity" />
        <activity android:name=".activity.MyMoreActivity" />

        <activity android:name=".activity.FenQiIphoneProductActivity" />
        <activity android:name=".activity.FenQiMoreProductActivity" />
        <activity android:name=".activity.FenQiCarHotActivity" />
        <activity android:name=".activity.FenQiCarCategoriesActivity" />
        <activity android:name=".activity.FenQiCarCategoriesDetailActivity" />
        <activity android:name=".activity.FenQiJdDetailActivity" />
        <activity android:name=".activity.FenQiLuxDetailActivity" />
        <activity android:name=".activity.FenQiLuxProductShowActivity" />
        <activity android:name=".activity.FaqActivity" />

        <activity android:name=".activity.CountrySelectActivity" />
        <activity android:name=".activity.CitySelectActivity" />

        <activity android:name=".activity.RecommandComboActivity" />
        <activity android:name=".activity.DecorateComboActivity" />
    </application>

</manifest>
